html, body {
 margin: 0;
 padding: 0;
 -webkit-text-size-adjust: none;
 font-family: -apple-system, sans-serif;
}

body {
 background-color: #FFFFFF;
 font: -apple-system-footnote;
 color: #000000;
}

h1 {
 font: -apple-system-short-headline;
 color: #000000;
 margin-top: 2em;
 margin-bottom: 0.3em;
 margin-left: 18px;
 margin-right: 0;
}
[dir="rtl"] h1 {
 margin-left: 0;
 margin-right: 18px;
}

h2 {
 font: -apple-system-short-subheadline;
 color: #000000;
 margin-top: 1em;
 margin-bottom: 0.3em;
 margin-left: 18px;
 margin-right: 0;
}
[dir="rtl"] h2 {
 margin-left: 0;
 margin-right: 18px;
}

p {
 font: -apple-system-footnote;
 line-height: 1.2em;
 color: #000000;
 text-align: left;
 margin-top: 0;
 margin-bottom: 0.3em;
 margin-right: 18px;
 margin-left: 18px;
}
[dir="rtl"] p {
 text-align: right;
}

a:link {
 font: -apple-system-footnote;
 color: #000000;
 text-decoration: none;
}
a:visited {
 color: #999999;
}
a:hover {
 color: #FF7900;
 text-decoration: none;
}
a:active, a:focus {
 color: #527EDB;
}
